
:root {
    --main-bg-color: coral;
    --main-txt-color: blue;
    --main-padding: 15px;
  }

  #div1 {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    padding: var(--main-padding);
  }